
body
{
  background-color: rgb(248, 244, 236);
}
.app-container {
  
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.add-task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}



.add-task-form input, .add-task-form select {
  margin-right: 10px;
  padding: 5px;
}

.task-list {
  list-style: none;
  padding: 0;
  width:80vw;
}

.text-display
{

  width: 50%;
  height: 70px;
}
.button-display
{
  display: flex;
  justify-content: end;
  align-items: center;
  
  width: 50%;
  height: 70px;
}
.task-item 
{
  display: flex;
  align-items: stretch;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.task-item .text-display {
  flex-grow: 1; 
  min-width: 0; 
}

.task-item.completed {
  background-color: #d4edda;
  text-decoration: line-through;
}

.task-item .task-details {
  flex-grow: 1;
  
}

.task-item .task-details h3 {
  margin: 0;
}

.task-item .task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}
.text-display
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.task-item.completed .topic{
  color:rgb(15, 126, 39);
}
.task-item.completed .description{
  color:rgb(25, 194, 61);
}
.topic
{
  color:rgb(31, 31, 31);
  font-size: xx-large;
}
.description
{
  color:rgb(129, 129, 129);
  font-size:large;
}
.task-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding:5px;
  margin-right:15px;
  border:none;
}
.icon {
  font-size: 50px;
}
.delete-button
{
  color:red;
}
.done-button
{
  color:green;
}

.description-input
{
  border-radius: 8px;
}
.topic-input
{
  border-radius: 8px;
}
.button-add
{
  border: 1px solid black;
  height: 36px;
  width:80px;
  border-radius: 15px;
}
.error
{
  display: flex;
  align-items: center;
  justify-content: center;
  color:red;
}

.navbar
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul 
{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li 
{
  background-color: rgb(206, 140, 54);
  padding: 10px 25px 10px 25px;
  margin-left:5px;
  margin-right: 5px;
  border-radius: 4px;
  text-decoration: none;
  
}
.nav-link {
  color: #000; 
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline; 
}
.opis-holder
{
  display: flex;;
  align-items: center;
  flex-direction: column;
}
.opis-holder h1
{
  text-align: center;
}

.wymagania
{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
}
.wymagania p
{

  height: 20px;
  margin: 5px 25px 5px 25px;
}
.opisFormularza
{
  margin-top:30px;
}
.form-holder h1
{
  text-align: center;
}
.form-holder
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0px 75px 0px 75px;
}
.form
{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-name
{
  width: 100%;
}
.form-name p
{
  width: 100%;
  margin-left:20px;
}
.form-name-inputs-holder
{
  display: flex;
  padding-left: 20px;
}
.form-name-inputs-holder input:nth-child(2)
{
  margin-left:10px;
  margin-right: 20px;
}
.form-name p
{
  font-size: large;
  margin-bottom:4px;
}

.form-name-inputs-holder input
{
  width: calc(100% - 50px);
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-adress
{
  display: flex;
  padding-left:20px;
  padding-right: 20px;
}
.form-adress div
{
  width: 33%;
}

.email-phone-holder
{
  display: flex;
  padding-left:20px;
  padding-right: 20px;
}
.form-email
{
  padding-right: 10px;
}
.form-email input
{
  margin-right:10px;
  width: calc(100% );
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
}

.form-phone
{
  width:50%;
  margin-left:10px;
  padding-right:10px;
}
.form-phone input
{

  width: calc(100% - 10px);
  margin-right:220px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
}
.email-phone-holder p
{
  width: 100%;
 
}
.form-adress input
{
  
  height: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 95%;
}
.form-email
{
  width:50%;
  display: flex;
  flex-direction: column;
  
}
.form-email p {
  font-size: large;
  margin-bottom:4px;
}
.form-phone p {
  font-size: large;
  margin-bottom:4px;
}
.form-adress p {
  font-size: large;
  margin-bottom:4px;
}
.przyciskSubmit
{
  width:200px;
  height: 50px;;
  margin-top:50px;
}
.error-display
{
  color: red;
  
}
.success-message
{
  color: green;
}
@media (max-width: 600px) 
{
  .add-task-form {
    flex-direction: column;
    align-items: center;
  }
  .topic-input
  {
    margin-bottom:10px;
  }
  .description-input
  {
    margin-bottom:10px;
  }

  .opisFormularza
  {
    width: 100%;
  }
  .opis-holder div p
{

  text-align: center;
}
.email-phone-holder
{
  flex-direction: column;
  width:250px;
}
.form-phone
{

  padding:none;
  margin:none;

  flex-direction: column;
}

.form-email
{
  display: flex;
  width: 200px;
  justify-content: center;
}
.form-adress
{
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.form-adress div{
  width: auto;
}
}
@media (max-width: 950px) 
{
  .form-adress
  {
    align-items: center;
    flex-direction: column;
  }
  .form-adress input
{
  width: 200px;
}
.form-phone input
{
  width: 200px;
}
}